body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f2f2f2;
}
#root{
	margin: 40px auto;
	background:#ccc;
	text-align:center;
}
#root h1{
	font-size:80px;
	font-weight: bold;
	color:#f0f;
	padding:50px;
}
#root h2{
	font-size:40px;
	color:blue;
}