.TodoItem{
	padding:.5em;
	display:flex;
	align-items:center;
}
.TodoItem a.iconfont{
	cursor:pointer;
	font-size: 20px;
}
.TodoItem .icon-yitianjia{
	color:#1afa29;
}
.TodoItem>input[type=checkbox]{
	display:none;
}
.TodoItem>.title{
	flex-grow:1;
	padding:0 .5em;
}
